{% extends 'userbase.html' %}

{% block title %}Comments{% endblock %}

{# Set the active page to be highlighted in the navigation bar. #}
{% set active_page = 'comments' %}

{% block content %}
<section class="container py-5">
    <div class="d-flex justify-content-start gap-5">
        <p><a href="/comments/insert?issue_id={{ request.args.get('issue_id') }}&status={{ request.args.get('status') }}" class="btn btn-success">Add
                comments</a></p>
    </div>

    <div class="table-responsive">
        <!-- Display flash messages ABOVE the form -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="mb-3">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} w-100">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <table class="table table-hover">
            <tr class="table-primary">
                <th class="text-center">Content</th>
                <th class="text-center">Username</th>
                <th class="text-center">Role</th>
                <th class="text-center">Profile Image</th>
                <th class="text-center">Create Date</th>
            </tr>
            {% for comment in comments %}
            <tr>
                <td style="max-width: 250px; word-wrap: break-word;" class="text-start">{{ comment['content'] }}</td>
                <td class="text-center">{{ comment['username'] }}</td>
                <td class="text-center">{{ comment['role'] }}</td>
                <td class="text-center" style="vertical-align: middle; min-height: 50px;">
                    {% if comment.profile_image %}
                        <img src="{{ comment.profile_image }}" alt="Profile Image" class="img-fluid" style="max-width: 30px; height: auto;">
                    {% else %}
                        <p>No Image</p>
                    {% endif %}
                </td>                
                <td class="text-center">{{ comment['created_at'] }}</td>
            </tr>
            {% endfor %}
        </table>            
    </div>

    <div class="d-flex justify-content-center mt-3">
        <a href="/issues?status={{ request.args.get('status') }}" class="btn btn-primary px-2 w-auto">Back</a>

    </div>
</section>
{% endblock %}